################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/movie/.vs/movie/v16/.suo
